USE [master]
GO
/****** Object:  Database [pharmacy_DBMS]    Script Date: 4/22/2024 8:39:55 AM ******/
CREATE DATABASE [pharmacy_DBMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'pharmacy_DBMS', FILENAME = N'D:\IT stuff\MSSQL16.SQLEXPRESS\MSSQL\DATA\pharmacy_DBMS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'pharmacy_DBMS_log', FILENAME = N'D:\IT stuff\MSSQL16.SQLEXPRESS\MSSQL\DATA\pharmacy_DBMS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [pharmacy_DBMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [pharmacy_DBMS]
GO
/****** Object:  Table [dbo].[tblagent]    Script Date: 4/22/2024 8:39:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblagent](
	[EmpID] [nvarchar](50) NULL,
	[EmpName] [nvarchar](50) NULL,
	[EmpAge] [nvarchar](50) NULL,
	[EmpPhone] [nvarchar](50) NULL,
	[EmpPassword] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblcustomer]    Script Date: 4/22/2024 8:39:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblcustomer](
	[CusID] [nvarchar](50) NULL,
	[CusName] [nvarchar](50) NULL,
	[CusAge] [nvarchar](50) NULL,
	[CusDOB] [nvarchar](50) NULL,
	[CusPhone] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblmanufacturer]    Script Date: 4/22/2024 8:39:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblmanufacturer](
	[ComID] [nvarchar](50) NULL,
	[ComName] [nvarchar](50) NULL,
	[ComPhone] [nvarchar](50) NULL,
	[ComAdd] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblmedicine]    Script Date: 4/22/2024 8:39:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblmedicine](
	[MedID] [nvarchar](50) NULL,
	[MedName] [nvarchar](50) NULL,
	[BuyPrice] [nvarchar](50) NULL,
	[SellPrice] [nvarchar](50) NULL,
	[Quantity] [nvarchar](50) NULL,
	[EXPDate] [nvarchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[tblagent] ([EmpID], [EmpName], [EmpAge], [EmpPhone], [EmpPassword]) VALUES (N'001', N'admin', N'20', N'012345678', N'admin1')
GO
USE [master]
GO
